/*
ICONS: https://phosphoricons.com/ 

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10.24px / 12.80px / 16.00px / 20.00px / 25.00px / 31.25px / 39.06px / 48.83px / 61.04px
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    45deg,
    hsl(226deg 57% 21%) 0%,
    hsl(225deg 57% 20%) 19%,
    hsl(225deg 58% 19%) 26%,
    hsl(224deg 58% 18%) 30%,
    hsl(224deg 57% 17%) 35%,
    hsl(223deg 57% 16%) 39%,
    hsl(223deg 56% 15%) 43%,
    hsl(223deg 55% 14%) 48%,
    hsl(222deg 54% 14%) 54%,
    hsl(222deg 52% 13%) 62%,
    hsl(222deg 50% 12%) 74%,
    hsl(222deg 47% 11%) 100%
  );
  color: #d1d5db;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

h1 {
  font-size: 61.04px;
  margin-top: 24px;
  margin-bottom: 64px;
  margin-left: 64px;
  font-weight: 700;
}

.book-title {
  font-size: 24px;
}

img {
  width: 240px;
  height: 400px;
  justify-self: center;
  margin-bottom: 12px;
  border-radius: 12px;
}

.tile {
  margin-left: 64px;
  margin-right: 80px;
  margin-bottom: 96px;
}

.books {
  display: grid;
  gap: 96px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
}

.book-card {
  display: grid;
  grid-template-rows: repeat(3, auto);

  border-radius: 15px;
  padding: 24px;
  box-shadow: 0 0 12px #4b5563;
  transition: box-shadow 0.1s ease-in-out;
  background-color: #374151;
}

.book-card:hover {
  background-color: #4b5563;
  box-shadow: 0 0 24px #4b5563;
  cursor: pointer;
}

.book-card:active {
  box-shadow: 0 0 16px #4b5563;
}

.book-title {
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}

.book-expanded-card {
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  background-color: #374151;
  border-radius: 15px;
  padding: 32px;
  font-size: 20px;

  position: relative;
  display: none;
}

.icon-close {
  position: absolute;
  top: 16px;
  right: 16px;
  fill: #d1d5db;
}

.icon-close:hover {
  cursor: pointer;
}

.book-expanded-card img {
  grid-row: 1 / span 2;
}

.book-expanded-card .book-title {
  font-size: 31.25px;
  text-align: left;
}

footer {
  margin-bottom: 15px;
  margin-left: 64px;
}
