/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10.24px / 12.80px / 16.00px / 20.00px / 25.00px / 31.25px / 39.06px / 48.83px / 61.04px
*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(
    45deg,
    hsl(226deg 57% 21%) 0%,
    hsl(225deg 57% 20%) 19%,
    hsl(225deg 58% 19%) 26%,
    hsl(224deg 58% 18%) 30%,
    hsl(224deg 57% 17%) 35%,
    hsl(223deg 57% 16%) 39%,
    hsl(223deg 56% 15%) 43%,
    hsl(223deg 55% 14%) 48%,
    hsl(222deg 54% 14%) 54%,
    hsl(222deg 52% 13%) 62%,
    hsl(222deg 50% 12%) 74%,
    hsl(222deg 47% 11%) 100%
  );
  color: rgba(245, 245, 245, 0.856);
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-style: italic;
  font-size: 39.06px;
  margin-top: 24px;
  margin-bottom: 48px;
  margin-left: 64px;
  /* text-align: center; */
}

img {
  width: 240px;
  height: 400px;
}

.books {
  margin-left: 64px;
  margin-right: 80px;
  margin-bottom: 48px;

  display: grid;
  gap: 80px;
  grid-template-columns: repeat(2, 1fr);
  /* align-items: start; */
}

.book {
  display: grid;
  grid-template-rows: repeat(3, auto);

  border-radius: 15px;
  padding: 15px;
  background-image: linear-gradient(
    45deg,
    hsl(0deg 0% 22%) 0%,
    hsl(344deg 0% 28%) 28%,
    hsl(344deg 0% 33%) 45%,
    hsl(344deg 0% 39%) 57%,
    hsl(344deg 0% 45%) 67%,
    hsl(344deg 0% 52%) 74%,
    hsl(344deg 0% 58%) 81%,
    hsl(344deg 0% 64%) 88%,
    hsl(344deg 0% 71%) 94%,
    hsl(0deg 0% 78%) 100%
  );
}

.book-title {
  font-weight: bold;
  margin-bottom: 12px;
  text-align: center;
}

img {
  justify-self: center;
  margin-bottom: 12px;
}

footer {
  margin-bottom: 15px;
  margin-left: 64px;
}
