* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 5px solid black;
  width: 825px;
  margin: 50px auto;
}

p {
  margin-bottom: 7px;
}

.item-heading {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f3f3f3c5;
  padding: 10px;
  position: relative;
}

.row {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
}

/* PRODUCT INFORMATION */

.product-information-container {
  flex: 1;
}

/* Absolute positioning */
/* .sale-label {
  position: absolute;
  top: -18px;
  left: -42px;

  color: #fff;
  font-size: 15px;
  background-color: rgb(233, 23, 23);
  letter-spacing: 2px;
  padding: 4px 15px;
} */

/* Pseudo-element */
.item-heading::before {
  content: "SALE";
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(233, 23, 23);
  letter-spacing: 2px;
  padding: 4px 15px;

  position: absolute;
  top: -18px;
  left: -42px;
}

.price-and-shipping-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 24px;
}

.shipping-cost {
  color: #444;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}

.product-description {
  clear: both;
  margin-bottom: 10px;
}

.more-information-link:link,
.more-information-link:visited {
  color: black;
  display: inline-block;
  margin-bottom: 30px;
}

.more-information-link:hover,
.more-information-link:active {
  text-decoration: none;
}

.color-boxes {
  display: flex;
  gap: 10px;
}

.color-box {
  flex-basis: 22px;
  height: 22px;
}

.black {
  background-color: #000;
}

.blue {
  background-color: #2626f7;
}

.red {
  background-color: #ff1717;
}

.orange {
  background-color: #fcd31c;
}

.green {
  background-color: #15ce15;
}

.brown {
  background-color: #9e590b;
}
/* PRODUCT DETAILS */

.product-details-container {
  flex: 1;
}

.product-details-heading {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
}

.product-details {
  list-style: square;
  margin-left: 20px;
}

.product-details li {
  margin-bottom: 10px;
}

/* BUTTON */

.add-to-cart-button {
  background-color: black;
  color: white;
  font-size: 20px;
  border-left: none;
  border-right: none;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
}

.add-to-cart-button:hover {
  background-color: white;
  color: black;
}
